@media (max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title: 38px;
        --font_size_title_s: 32px;
    }



    /*------------
        Header
    ------------*/
    header .logo img
    {
        width: 168px;
        height: 44px;
    }


    header .menu .btn
    {
        width: 120px;
        height: 48px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block h1
    {
        font-size: 34px;
    }


    .text_block h2
    {
        font-size: 26px;
    }


    .text_block .big
    {
        font-size: 18px;
    }


    .text_block .accordion_item .head .title
    {
        font-size: 18px;
    }


    .text_block blockquote
    {
        padding-left: var(--outside_gap_s);

        background-size: 32px auto;
    }


    .text_block table td
    {
        padding-block: 12px;
    }


    .text_block table td.time,
    .text_block table td.price
    {
        width: 100px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .image
    {
        top: 68px;

        width: 482px;
        margin-right: -424px;
    }



    /*-------------
        Catalog
    -------------*/
    .catalog .category .name
    {
        font-size: 30px;
    }


    .catalog .category .thumb
    {
        right: -36px;
    }



    .about_info .philosophy .title > span
    {
        font-size: 48px;
    }



    /*-----------------------
        Highest standards
    -----------------------*/
    .highest_standards .title
    {
        width: 172px;
    }


    .highest_standards .logo
    {
        width: 80px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .article .name
    {
        font-size: 20px;
    }



    /*-----------------
        Order block
    -----------------*/
    .order_block .info .title .discount
    {
        font-size: 18px;
    }


    .order_block .info .title .discount .icon
    {
        width: 18px;
    }



    /*------------
        Cases
    ------------*/
    .cases .case .image img
    {
        min-height: 300px;
    }


    .cases .case .info
    {
        padding-inline: 0;
    }



    /*-----------------
        Specialists
    -----------------*/
    .specialists .person .info
    {
        padding-block: var(--inner_gap_s);
        padding-inline: var(--cont_padding);
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .data .location,
    .contacts_info .data .socials,
    .contacts_info .data .email
    {
        margin-top: 24px;
    }



    .contacts_info .data .location .icon
    {
        width: 18px;
    }


    .contacts_info .data .location span
    {
        width: calc(100% - 30px);
    }



    .contacts_info .data .work_time
    {
        padding-left: 30px;

        font-size: var(--font_size_s);
    }


    .contacts_info .data .work_time .notice
    {
        gap: 4px;
    }


    .contacts_info .data .work_time .notice .icon
    {
        width: 14px;
    }



    .contacts_info .data .email .icon
    {
        width: 18px;
    }


    .contacts_info .data .email .icon + div
    {
        width: calc(100% - 30px);
    }


    .contacts_info .data .email .exp
    {
        font-size: var(--font_size_s);
    }



    .contacts_info .data .socials
    {
        padding-left: 30px;
    }



    .contacts_info .ratings .rating
    {
        padding: var(--inner_gap_ss);
    }


    .contacts_info .ratings .rating .logo
    {
        height: 32px;
    }



    .contacts_info .map
    {
        padding: calc(var(--inner_gap_ss) - 1px);
    }


    .contacts_info .map .path
    {
        padding: calc(var(--inner_gap_s) - 1px);
    }



    .contacts_info .entrance .title
    {
        font-size: 26px;
    }


    .contacts_info .entrance .title span
    {
        width: calc(100% - 68px);
    }


    .contacts_info .entrance .title .icon
    {
        width: 48px;
    }



    /*------------
        Why we
    ------------*/
    .why_we .info .equipment img
    {
        width: 280px;
    }



    /*--------------
        Remember
    --------------*/
    .remember .title
    {
        width: 100%;

        font-size: 42px;
    }


    .remember .desc
    {
        width: 100%;
    }


    .remember .image
    {
        right: -100px;
    }



    /*---------
        FAQ
    ---------*/
    .FAQ .col .title
    {
        font-size: 32px;
    }


    .FAQ .accordion_item .head .title
    {
        font-size: 18px;
    }
}
